html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.site-wrapper {
  min-width: 1200px;

  background-color: #849d8f;
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: top center;

  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;

  -o-transition: background-image 0.5s ease, background-color 0.5s ease;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper-catalog {
  min-width: 1200px;

  background: rgb(132,157,143);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(156,176,165,0.9)), color-stop(30%, rgba(132,157,143,1)));
  background: -webkit-linear-gradient(top, rgba(156,176,165,0.9) 0%, rgba(132,157,143,1) 30%);
  background: -o-linear-gradient(top, rgba(156,176,165,0.9) 0%, rgba(132,157,143,1) 30%);
  background: linear-gradient(to bottom, rgba(156,176,165,0.9) 0%, rgba(132,157,143,1) 30%);
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("img/slider-item2.png");
}

.site-wrapper::after {
  background-image: url("img/slider-item3.png");
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.display-none {
  display: none;
}
/* Кнопки */

.btn {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 800;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
/* header */

.header-container {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

}

.page-header-logo {
  margin-top: 9px;
  margin-right: 10px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 23px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 400px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation-item {
  position: relative;

  min-height: 37px;
}

.site-navigation-item:last-child {
  margin-right: 0;
}

.site-navigation-item-active {
  color: #ffffff;
  background-color: #d07058;

  text-decoration: none;
  cursor: pointer;
}

.site-navigation-link:hover,
.site-navigation-item:hover .site-navigation-link {
  background-color: #f8f7f4;

  color: #333333;

  -webkit-transition: 0.8s;

  -o-transition: 0.8s;

  transition: 0.8s;
}

.site-navigation-link {
  display: block;

  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 25px;

  color: #ffffff;

  text-decoration: underline;
  -webkit-text-decoration-color: rgba(255, 255, 255, 0.2);
          text-decoration-color: rgba(255, 255, 255, 0.2);
}


.site-navigation-link:active {
  -webkit-box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.4);
          box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.4);
}

.site-navigation-item:hover .hover-menu {
  display: block;
}

.site-navigation-link-active {
  text-decoration: none;
}
.hover-menu {
  display: none;
  position: absolute;
  top: 37px;
  left: -5px;
  z-index: 100;

  margin: 0;
  padding: 0;
  min-width: 143px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  background-color: #f8f7f4;

  border-radius: 3px;
  list-style: none;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.hover-menu-item {

  color: #323232;
}

.hover-menu-link {
  display: block;

  padding-bottom: 12px;
  padding-top: 12px;
  padding-left: 20px;

  color: #323232;
  text-decoration: none;
  border-radius: 3px;
}

.hover-menu-link:hover {
  background-color: #fbded7;
}

.hover-menu-link:active {
  background-color: #f6b5a5;
}

.hover-menu-bold {
  font-weight: 700;
}

.hover-menu-item:first-child::after {
  content: "";
  display: block;

  margin-left: 7px;
  margin-right: 9px;

  height: 1px;
  background-color: rgba(53, 53, 53, 0.2);
}

.login-section {
  margin-left: auto;
  margin-top: 23px;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;

  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;

  list-style: none;
}

.user-navigation-item {
  position: relative;

  margin-left: 10px;
  min-height: 40px;
}

.user-navigation-item:first-child {
  margin-left: 0;
  padding: 0;
}

.user-navigation-item-link:hover,
.user-navigation-item:hover .user-navigation-item-link,
.user-navigation-item:hover path,
.user-navigation-item:hover g {
  color: #323232;

  background-color: #f8f7f4;
  fill: #000000;

  -webkit-transition: 0.8s;

  -o-transition: 0.8s;

  transition: 0.8s;
}

.user-navigation-item-link{
  display: block;

  padding-right: 17px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 44px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  color: #ffffff;
}

.user-navigation-item-link:active {
  -webkit-box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.4);
          box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.4);
}

.user-navigation-item-search {
  padding: 0;
  padding-top: 7px;
  padding-left: 8px;
  width: 32px;
  height: 32px;

  background-color: rgba(255, 255, 255, 0.2);

  border-radius: 50%;
}

.search-form {
  position: absolute;
  right: 0;
  top: 37px;
  z-index: 10;

  display: none;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;

  background-color: #f8f7f4;

  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.search-input {
  min-width: 310px;
  min-height: 43px;
  padding-left: 15px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
  cursor: pointer;
}

.search-input:hover {
  -webkit-box-shadow:
    inset 1px 1px 0 0 rgba(154, 154, 154, 0.52),
    inset -1px -1px 0 0 rgba(154, 154, 154, 0.52);
          box-shadow:
    inset 1px 1px 0 0 rgba(154, 154, 154, 0.52),
    inset -1px -1px 0 0 rgba(154, 154, 154, 0.52);
  border-radius: 5px;
  border-color: rgba(154, 154, 154, 0.52);
  outline: none;
}

.search-input:focus {
  color: #323232;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;

  -webkit-box-shadow:
    inset 1px 1px 0 0 rgba(46, 136, 228, 0.52),
    inset -1px -1px 0 0 rgba(46, 136, 228, 0.52);

          box-shadow:
    inset 1px 1px 0 0 rgba(46, 136, 228, 0.52),
    inset -1px -1px 0 0 rgba(46, 136, 228, 0.52);
  border-radius: 5px;
  border-color: rgba(46, 136, 228, 0.52);
  outline: none;
  cursor: text;
}

.user-navigation-item-search:hover path {
  fill: #000000;

  -webkit-transition: 0.8s;

  -o-transition: 0.8s;

  transition: 0.8s;
}

.user-navigation-item:hover .search-form {
  display: block;
}

.user-navigation-item-icon {
  position: absolute;
  top: 6px;
  left: 17px;
}

.user-navigation-item-link:hover g {
  fill: #000000;

  -webkit-transition: 0.8s;

  -o-transition: 0.8s;

  transition: 0.8s;
}

.login-form {
  position: absolute;
  right: 0;
  top: 37px;
  z-index: 10;

  display: none;
  padding-left: 19px;
  padding-right: 17px;
  padding-top: 20px;
  padding-bottom: 22px;

  color: #323232;

  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.login-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.user-navigation-item-hover:hover .login-form {
  display: block;
}

.login-form-item {
  margin: 0;
  margin-bottom: 20px;
}

.form-input {
  min-height: 43px;
  min-width: 241px;
  padding-left: 15px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
  cursor: pointer;
}

.form-input:hover {
  -webkit-box-shadow:
    inset 1px 1px 0 0 rgba(154, 154, 154, 0.52),
    inset -1px -1px 0 0 rgba(154, 154, 154, 0.52);
          box-shadow:
    inset 1px 1px 0 0 rgba(154, 154, 154, 0.52),
    inset -1px -1px 0 0 rgba(154, 154, 154, 0.52);
  border-radius: 5px;
  border-color: rgba(154, 154, 154, 0.52);
  outline: none;
}

.form-input:focus {
  font-weight: 700;

  -webkit-box-shadow:
    inset 1px 1px 0 0 rgba(46, 136, 228, 0.52),
    inset -1px -1px 0 0 rgba(46, 136, 228, 0.52);

          box-shadow:
    inset 1px 1px 0 0 rgba(46, 136, 228, 0.52),
    inset -1px -1px 0 0 rgba(46, 136, 228, 0.52);
  border-radius: 5px;
  border-color: rgba(46, 136, 228, 0.52);
  outline: none;
  cursor: text;
}

.login-form-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.login-form-list a {
  font-size: 13px;
  font-weight: 400;
  color: #323232;
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(53, 53, 53, 0.3);
          text-decoration-color: rgba(53, 53, 53, 0.3);
}

.login-form-list a:hover,
.login-form-list a:active {
  color: #e84d37;
  -webkit-text-decoration-color: rgba(236, 89, 60, 0.3);
          text-decoration-color: rgba(236, 89, 60, 0.3);
}

.login-form-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
  padding-left: 25px;

  font-size: 18px;
  line-height: 24px;
}

.contacts {
  text-align: right;
}

.work-time {
  margin: 0;
  margin-bottom: 4px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.phone {
  margin: 0;

  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

/*index-Main */

.slider {
  position: relative;

  padding-top: 275px;
  margin-bottom: 42px;
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 29px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slider-controls label {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 29px;
  z-index: 20;

  font-size: 0;
}

.slide-button {
  padding: 10px 40px;

  font-weight: 800;
  font-size: 32px;
  line-height: 44px;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide3.png");
}


#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.banners {
  margin-bottom: 40px;
}

.banners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.banners-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;

  width: 560px;
  padding-left: 20px;
  padding-top: 16px;
  padding-right: 20px;
  padding-bottom: 24px;

  border-radius: 15px;
}

.banners-raspberry {
  background-color: #68010d;
  background-image: url("../img/raspberries-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.banners-chocolate {
  background-color: #402b21;
  background-image: url("../img/chocolate-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.banners-title {
  margin: 0;
  margin-bottom: 15px;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.banners-desc {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  margin: 0;
  margin-bottom: 42px;

  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

.banners-btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-left: 25px;
  padding-right: 23px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.banners-list a {
  font-size: 18px;
  line-height: 24px;
}

.hits-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0;
  padding: 0;
  margin-bottom: -4px;

  list-style: none;
}

.products-item {
  position: relative;

  width: 267px;
  min-height: 325px;

  margin-bottom: 38px;

  cursor: pointer;
}

.products-item:hover .products-item-container::after,
.products-item:hover .products-item-container-catalog::after,
.products-item:hover .products-btn {
  display: block;
  z-index: 20;
}

.products-item-container,
.products-item-container-catalog {
  height: 267px;
  margin-bottom: 12px;
}

.products-item-container::before{
  content: url("../img/svg-gllacy/hit.svg");
  position: absolute;
}

.products-item-container::after,
.products-item-container-catalog::after{
  content: "";

  position: absolute;
  left: 0;
  top: 0;

  display: none;

  width: 292px;
  height: calc( 100% + 85px);
  margin-left: -13px;
  margin-top: -7px;

  border-radius: 8px;
  background-color: rgba(248, 247, 244, 0.2);
}

.products-item-container img,
.products-item-container-catalog img {
  border-radius: 50%;
}

.products-price {
  position: absolute;
  left: 0;
  top: 208px;

  margin: 0;

  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
}

.price {
  font-size: 45px;
}

.price::after {
  content: url("../img/svg-gllacy/ruble.svg");
  display: inline;
  vertical-align: middle;
  margin-left: 4px;
}

.products-desc {
  margin: 0;
  width: 260px;
  padding-left: 6px;

  text-align: center;

  text-decoration: underline;
  -webkit-text-decoration-color: rgba(255, 255, 255, 0.2);
          text-decoration-color: rgba(255, 255, 255, 0.2);
}

.products-btn {
  position: absolute;
  left: 50%;
  bottom: -60px;

  display: none;
  min-width: 202px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 10px;
  padding-bottom: 12px;

  margin-left: -101px;

  font-size: 18px;
  line-height: 24px;

}

.features {
  margin-bottom: 40px;
}

.features-wrapper {
  padding-top: 24px;
  padding-left: 20px;

  color: #323232;
  font-weight: 500;

  background-color: #e6d8b8;
  background-image: url("../img/waffle.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 15px;
}

.features-title {
  margin: 0;
  margin-bottom: 22px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  font-weight: 400;

  list-style: none;
}

.features-item {
  position: relative;

  padding-right: 18px;
  padding-left: 64px;
  width: 560px;
  margin-bottom: 23px;

  text-align: start;
}

.features-item:nth-child(odd) {
  padding-left: 57px;
}

.ice-cream::before {
  content: url("../img/svg-gllacy/ice-cream.svg");
  position: absolute;
  top: -12px;
  left: 0;
}

.eco::before {
  content: url("../img/svg-gllacy/eco.svg");
  position: absolute;
  top: -16px;
  left: 0;
}

.cow::before {
  content: url("../img/svg-gllacy/cow.svg");
  position: absolute;
  top: -13px;
  left: 5px;
}

.thermometer::before {
  content: url("../img/svg-gllacy/thermometer.svg");
  position: absolute;
  top: -16px;
  left: 5px;
}

.news-blog-content {
  margin-bottom: 41px;
}

.news-blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 560px;
  min-height: 220px;
  padding-left: 20px;
  padding-top: 23px;

  color: #323232;

  background-color: #ffffff;
  background-image: url("../img/strawberry-background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  border-radius: 15px;
}

.news-blog-title {
  margin: 0;
  margin-bottom: 4px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.news-link {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;
}

.news-link:hover,
.news-link:active {
  color: #e84d37;
  -webkit-text-decoration-color: rgba(236, 89, 60, 0.3);
          text-decoration-color: rgba(236, 89, 60, 0.3);
}

.news-desc {
  margin: 0;
  width: 285px;

  font-weight: 700;
}

.newsletter {
  position: relative;

  width: 560px;
  min-height: 220px;

  color: #323232;

  background-image: url("../img/svg-gllacy/bg-post.svg");
  border-radius: 15px;
}

.newsletter-wrapper {
  position: absolute;
  top: 5px;
  left: 5px;

  width: 550px;
  height: 210px;
  background-color: #f8f7f4;

  border-radius: 15px;
}

.newsletter-desc {
  margin: 0;
  margin-bottom: 36px;
  padding-top: 29px;
  padding-left: 22px;
  padding-right: 20px;

  border-radius: 15px;
}

.newsletter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 22px;
}

.newsletter-container {
  margin: 0;
  width: 100%;
}

.newsletter-input {
  width: 100%;
  min-height: 43px;
  padding-left: 13px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
  cursor: pointer;
}

.newsletter-input:hover {
  -webkit-box-shadow:
    inset 1px 1px 0 0 rgba(154, 154, 154, 0.52),
    inset -1px -1px 0 0 rgba(154, 154, 154, 0.52);
          box-shadow:
    inset 1px 1px 0 0 rgba(154, 154, 154, 0.52),
    inset -1px -1px 0 0 rgba(154, 154, 154, 0.52);
  border-radius: 5px;
  border-color: rgba(154, 154, 154, 0.52);
  outline: none;
}

.newsletter-input:focus {
  font-weight: 700;

  -webkit-box-shadow:
    inset 1px 1px 0 0 rgba(46, 136, 228, 0.52),
    inset -1px -1px 0 0 rgba(46, 136, 228, 0.52);

          box-shadow:
    inset 1px 1px 0 0 rgba(46, 136, 228, 0.52),
    inset -1px -1px 0 0 rgba(46, 136, 228, 0.52);
  border-radius: 5px;
  border-color: rgba(46, 136, 228, 0.52);
  outline: none;
  cursor: text;
}

.newsletter-btn {
  height: 100%;
  margin-left: 12px;
  margin-right: 21px;
  padding-bottom: 10px;
  padding-top: 8px;
  padding-left: 17px;
  padding-right: 18px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.map {
  position: relative;

  height: 430px;
  margin: 0;
  padding: 0;

  background-color: #e9e5cf;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.feedback-form {
  position: absolute;
  z-index: 20;
  top: 50%;
  right: 379px;
  transform: translatey(-50%);

  padding-top: 30px;
  padding-left: 26px;
  padding-bottom: 20px;
  width: 302px;
  min-height: 305px;

  font-size: 14px;
  line-height: 20px;
  color: #323232;
  font-weight: 400;

  background-color: #ffffff;

  border-radius: 15px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.4);
}

.address {
  margin: 0;
  text-align: left;
}

.address b {
  font-size: 18px;
  line-height: 24px;
}

.feedback-form-btn {
  padding-bottom: 10px;
  padding-top: 8px;
  padding-left: 27px;
  padding-right: 28px;
  margin-top: 27px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

/* footer */

.page-footer {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;

  list-style: none;
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(255, 255, 255, 0.2);
          text-decoration-color: rgba(255, 255, 255, 0.2);
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 23px;
  /* -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; */
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 18px;

  font-size: 13px;
  line-height: 18px;
  font-weight: 400;

  list-style: none;
}

.social-item {
  width: 37px;
  height: 37px;
  margin-right: 12px;

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-link {
  display: block;
}

.social-item:hover path,
.social-item:hover g {
  fill: #ffffff;

  -webkit-transition: 0.8s;

  -o-transition: 0.8s;

  transition: 0.8s;
}

.social-item:active path,
.social-item:active g {

  fill: rgba(255, 255, 255, 0.8);
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.footer-nav {
  padding-top: 15px;
}

.footer-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  width: 305px;

  font-size: 13px;
  line-height: 18px;
  font-weight: 400;

  list-style: none;
}

.footer-nav-item {
  position: relative;

  min-width: 120px;
}

.footer-nav-item:nth-child(odd) {
  margin-right: 21px;
}

.footer-nav-item-active {
  margin-bottom: 4px;

  font-weight: 700;
}

.footer-nav-item-active::before {
  content: url("../img/svg-gllacy/heart.svg");

  position: absolute;
  left: -25px;
  top: 3px;
}

.footer-nav a {
  color: #ffffff;
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(255, 255, 255, 0.2);
          text-decoration-color: rgba(255, 255, 255, 0.2);
}

.footer-nav a:hover,
.footer-nav a:active {
  color: #ffbc9e;
  -webkit-text-decoration-color: rgba(255, 188, 158, 0,2);
          text-decoration-color: rgba(255, 188, 158, 0,2);
}

.copyright-text {
  margin: 0;

  font-size: 12px;
}

.copyright-text a {
  color: #ffffff;
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(255, 255, 255, 0.2);
          text-decoration-color: rgba(255, 255, 255, 0.2);
}

.copyright-text a:hover,
.copyright-text a:active {
  color: #ffbc9e;
  -webkit-text-decoration-color: rgba(255, 188, 158, 0,2);
          text-decoration-color: rgba(255, 188, 158, 0,2);
}

/* Feedback-form-modal */

.feedback-form-modal,
.feedback-form {
  color: #323232;

  background-color: #f8f7f4;
}

.modal-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

/* table-basket */

.basket-container {
  position: absolute;
  right: 0;
  top: 37px;
  z-index: 30;

  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 16px;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 20px;
  min-width: 540px;

  background-color: #f8f7f4;

  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.user-navigation-item-link-basket {
  background-color: #f7f6f3;

  color: #000;
}

.user-navigation-item-link-basket:hover .basket-icon,
.user-navigation-item-basket:hover .basket-icon {
  fill: #E84D37;
}


.user-navigation-item-link-basket:hover + .basket-container,
.user-navigation-item-basket:hover .basket-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 21px;
  margin-bottom: 15px;
  width: 100%;
  background-color: #f8f7f4;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-collapse: collapse;
}

.basket-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 14px;
}

.basket-row:last-child {
  margin-bottom: 0;
}

.basket-delete-btn {
  width: 13px;
}

.basket-delete-btn-link {
  display: block;

  min-width: 12px;
  min-height: 12px;
  background-image: url("../img/svg-gllacy/cross-small.svg");
  background-repeat: no-repeat;
  background-position: center center;
}


.basket-img {
  width: 53px;
  padding-left: 13px;
}

.basket-img-pic {
  border-radius: 50%;
}

.basket-product {
  width: 233px;
  padding-left: 7px;
}

.basket-product-link {
  display: block;

  font-size: 13px;
  line-height: 16px;
  color: #323232;
  font-weight: 400;
}

.basket-product-link:hover,
.basket-product-link:active {
  color: #e84d37;
}

.basket-op {
  width: 120px;
  padding-left: 21px;

  font-size: 13px;
  line-height: 16px;
  color: #323232;
  font-weight: 400;
}

.basket-op-text {
  margin: 0;
}

.basket-op span{
  color: #999999;
}

.basket-price {
  width: 75px;
  padding-left: 23px;

  font-size: 13px;
  line-height: 16px;
  color: #323232;
  font-weight: 400;
}

.total {
  margin: 0;
  margin-bottom: 13px;

  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: #323232;
}

.basket-btn {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 11px;

  font-size: 18px;
  line-height: 24px;

  border-radius: 20px;
}

/* catalog-main */

.breadcrumbs {
  position: absolute;
  top: 100px;
  left: 26px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 15px;

  list-style: none;
}

.breadcrumbs-item::after {
  content: "\00BB";
  margin-right: 7px;
  margin-left: 7px;
}

.breadcrumbs-item:last-child::after {
  content: "";
  margin: 0;
}

.breadcrumbs-item a {
  color: #ffffff;

  text-decoration: underline;
  -webkit-text-decoration-color: rgba(255, 255, 255, 0.2);
          text-decoration-color: rgba(255, 255, 255, 0.2);

  cursor: pointer;
}

.breadcrumbs-item a:hover,
.breadcrumbs-item a:active {
  color: #ffbc9e;
}

.filters-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 38px;
}

.fieldset-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 14px
}

.fieldset-container:last-child {
  margin: 0;
}

.filters-title {
  margin: 0;
  margin-bottom: 28px;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.select-list,
.range,
.radiobutton-group,
.checkbox-group {
  margin: 0;
  padding: 0;

  border: none;
}

.fieldset-title {
  margin: 0;
  margin-bottom: 6px;
  padding-left: 15px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.radiobutton-group label,
.checkbox-group label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.select-list {
  position: relative;
  margin-right: 15px;
}

.select-list-form {
  width: 194px;
  padding-left: 16px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;

  color: #ffffff;
  font-weight: 500;
  line-height: 18px;

  background-color: rgba(248, 247, 244, 0.2);
  background-image: url("../img/svg-gllacy/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 168px;

  border: none;
  border-radius: 30px;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
}

.select-list-form:hover {
  background-image: url("../img/svg-gllacy/icon-down-dir-black.svg");
  background-repeat: no-repeat;
  background-position: 168px;

  color: #000000;
}

.select-list-form:focus {
  background-color: #ffffff;
  background-image: url("../img/svg-gllacy/select-arrow-black.svg");
  background-repeat: no-repeat;
  background-position: 168px;

  color: #000;
}

.select-list-form::-ms-expand {
  display: none;
}

.select-list-form-item {
  color: #323232;
}

.range {
  width: 220px;
  margin-right: 15px;
}

.range legend {
  float: left;
  padding-top: 1px;
  margin-bottom: 0;
}

.price-controls {
  display: inline-block;
  vertical-align: bottom;
}

.range-controls {
  position: relative;

  height: 38px;
  padding-top: 17px;
  padding-right: 20px;
  padding-left: 20px;

  background-color:rgba(255, 255, 255, 0.2);

  border-radius: 30px;
}

.range-input {
  width: 58px;
  display: inline-block;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  vertical-align: top;

  border: none;
  background: transparent;
}

.max-price input {
  width: 65px;
}

.scale {
  height: 4px;
  padding-left: 15px;

  background: rgba(248, 247, 244, 0.5);
}

.bar {
  width: 70%;
  height: 4px;

  background: #f8f7f4;
}

.toggle {
  position: absolute;
  top: 8px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  cursor: pointer;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.toggle-min {
  left: 35px;
}

.toggle-max {
  left: 133px;
}


.radiobutton-group-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 415px;
  margin: 0;
  padding: 0;
  padding-left: 44px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 30px;
  list-style: none;
}

.radiobutton-group-item {
  position: relative;

  margin-right: 50px;
}

.radiobutton-group-item:last-child {
  margin-right: 0;
}

.radiobutton-label{
  position: relative;

  display: block;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.radiobutton-indicator {
  position: absolute;
  top: -3px;
  left: -32px;

  width: 22px;
  height: 22px;
  border: 4px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.radiobutton-indicator::after {
  content: "";

  position: absolute;
  top: 3px;
  left: 3px;

  display: none;
  width: 8px;
  height: 8px;

  background-color: rgba(255, 255, 255, 0.8);

  border-radius: 50%;
}

.radiobutton-group-input:checked + .radiobutton-indicator::after {
  display: block;
}

.radiobutton-group-input:focus + .radiobutton-indicator {

  border-color: rgba(255, 255, 255, 0.8);
  box-shadow:
    0px 0px 2px 2px rgba(46, 136, 228, 0.52),
    0px 0px 2px 2px rgba(46, 136, 228, 0.52);
}

.checkbox-group {
  margin-right: 15px;
}

.checkbox-group-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  padding-left: 47px;
  padding-right: 18px;
  padding-top: 10px;
  padding-bottom: 10px;


  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 30px;
  list-style: none;
}

.checkbox-group-item {
  margin-right: 54px;
}

.checkbox-group-item:first-child{
  margin-right: 52px;
}

.checkbox-group-item:last-child {
  margin-right: 0;
}

.checkbox-label {
  position: relative;

  display: block;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}


.checkbox-input +.checkbox-indicator {
  content: "";

  position: absolute;
  top: -3px;
  left: -27px;

  width: 20px;
  height: 20px;

  border: 3px solid transparent;
  border-radius: 2px;
}


.checkbox-input:checked + .checkbox-indicator::after {
  content: url("../img/svg-gllacy/checkbox-on.svg");

  position: absolute;
  z-index: 10;
  left: -4px;
  top: 0px;
}

.checkbox-input + .checkbox-indicator::before {
  content: url("../img/svg-gllacy/checkbox-off.svg");

  position: absolute;

  left: -4px;
  top: 0px;

  width: 20px;
  height: 20px;
}

.checkbox-input:focus + .checkbox-indicator::before {

  border-color: rgba(255, 255, 255, 0.8);
  box-shadow:
    0px 0px 2px 2px rgba(46, 136, 228, 0.52),
    0px 0px 2px 2px rgba(46, 136, 228, 0.52);
}


.filters-btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-left: 27px;
  padding-right: 27px;
  padding-top: 8px;
  padding-bottom: 8px;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  cursor: pointer;
  border: 2px solid #fcfcfc;
  border-radius: 50px;
  background-color: rgba(248, 247, 244, 0.2);
}

.filters-btn:hover {
  color: #323232;

  background-color: #fbfcfb;

  -webkit-transition: 0.8s;

  -o-transition: 0.8s;

  transition: 0.8s;
}
.filters-btn:active {
  color: #323232;

  background-color: #eaeaea;

  -webkit-box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.4);

          box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.4);
}

.products {
  margin: 0;
  padding: 0;
  margin-bottom: 44px;

  list-style: none;
}


.pagintation-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;

  /* width: 100%; */
  padding-bottom: 33px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.pagination-list {
  z-index: 100;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 188px;
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  list-style: none;
}

.pagination-item {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  border-radius: 50%;
  cursor: pointer;
}

.pagination-item-active::after {
  content: "";

  position: absolute;
  top: -5px;
  left: -8px;
  z-index: -1;

  width: 26px;
  height: 26px;

  border-radius: 50%;
  background-color: #ffffff;
}

.pagination-link {
  display: block;

  color: #ffffff;
}

.pagination-link-hover::after {
  content: "";

  position: absolute;
  top: -5px;
  left: -8px;
  z-index: -1;

  display: none;

  width: 26px;
  height: 26px;

  background-color: rgba(255, 255, 255, 0.2);

  border-radius: 50%;
}


.pagination-link-hover:active {
  color: #323232;

  -webkit-transition: 0.8s;

  -o-transition: 0.8s;

  transition: 0.8s;
}

.pagination-link-hover:hover.pagination-link-hover::after {
  display: block;

  -webkit-transition: 0.8s;

  -o-transition: 0.8s;

  transition: 0.8s;
}

.pagination-link-hover:active.pagination-link-hover::after {
  background-color: #ffffff;

  -webkit-transition: 0.8s;

  -o-transition: 0.8s;

  transition: 0.8s;
}

.pagination-item-active .pagination-link {
  color: #353535;
}

.pagination-item-inactive {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.pagination-item-last path {
  fill: #f8f9f8;
}

/* modal */
.feedback-form-section {
  position: fixed;
  z-index: 999;
  left: 50%;
  top: 200px;

  display: none;
  width: 480px;
  margin-left: -240px;
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 15px;
  padding-bottom: 27px;

  border-radius: 5px;

  background-color: #f8f7f4;
}

.modal-show {
  display: block;
  animation-name: bounce;
  animation-duration: 0.6s;
}

.modal-title {
  margin: 0;
  margin-bottom: 20px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.feedback-form-modal {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feedback-form-item {
  margin: 0;
  margin-bottom: 20px;
}

.feedback-input {
  min-width: 267px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 11px;
  padding-bottom: 12px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;

  cursor: pointer;
}

.feedback-input:hover {
  -webkit-box-shadow:
    inset 1px 1px 0 0 rgba(154, 154, 154, 0.52),
    inset -1px -1px 0 0 rgba(154, 154, 154, 0.52);
          box-shadow:
    inset 1px 1px 0 0 rgba(154, 154, 154, 0.52),
    inset -1px -1px 0 0 rgba(154, 154, 154, 0.52);
  border-radius: 5px;
  border-color: rgba(154, 154, 154, 0.52);
  outline: none;
}


.feedback-input:focus {
  font-weight: 700;

  -webkit-box-shadow:
    inset 1px 1px 0 0 rgba(46, 136, 228, 0.52),
    inset -1px -1px 0 0 rgba(46, 136, 228, 0.52);

          box-shadow:
    inset 1px 1px 0 0 rgba(46, 136, 228, 0.52),
    inset -1px -1px 0 0 rgba(46, 136, 228, 0.52);
  border-radius: 5px;
  border-color: rgba(46, 136, 228, 0.52);
  outline: none;
  cursor: text;
}

.feedback-form-modal textarea {
  min-width: 425px;
  min-height: 155px;

  padding-left: 15px;
  padding-top: 11px;

  border-radius: 5px;
  resize: none;

  cursor: pointer;
}

.feedback-form-modal textarea:hover {
  -webkit-box-shadow:
    inset 1px 1px 0 0 rgba(154, 154, 154, 0.52),
    inset -1px -1px 0 0 rgba(154, 154, 154, 0.52);
          box-shadow:
    inset 1px 1px 0 0 rgba(154, 154, 154, 0.52),
    inset -1px -1px 0 0 rgba(154, 154, 154, 0.52);
  border-radius: 5px;
  border-color: rgba(154, 154, 154, 0.52);
  outline: none;
  cursor: pointer;
}

.feedback-form-modal textarea:focus {
  font-weight: 700;

  -webkit-box-shadow:
    inset 1px 1px 0 0 rgba(46, 136, 228, 0.52),
    inset -1px -1px 0 0 rgba(46, 136, 228, 0.52);

          box-shadow:
    inset 1px 1px 0 0 rgba(46, 136, 228, 0.52),
    inset -1px -1px 0 0 rgba(46, 136, 228, 0.52);
  border-radius: 5px;
  border-color: rgba(46, 136, 228, 0.52);
  outline: none;
  cursor: text;
}

.modal-form-btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-bottom: 10px;
  padding-top: 8px;
  padding-left: 27px;
  padding-right: 28px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 17px;

  width: 17px;
  height: 17px;

  font-size: 0;

  background-color: transparent;

  border: none;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 7px;
  left: -3px;

  width: 22px;
  height: 2px;

  background-color: #231f20;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;

  display: none;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);
}

.overlay-show {
  display: block;
}

/* Анимация */

@keyframes bounce {
  0% {transform: translateY(-2000px);}
  70% {transform: translateY(30px);}
  90% {transform: translateY(-10px);}
  100% {transform: translateY(0);}
}

@keyframes shake {
  0%, 100% {transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateY(-10px);}
  20%, 40%, 60%, 80% {transform: translateX(10px)}
}

.modal-error {
  animation-name: shake;
  animation-duration: 0.6s;
}
/* .declaration-order {
  Позиционирование
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  Блочная модель
  display: block;
  float: right;
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 10px;

  Типографика
  font: normal 13px/1.5 "Arial", sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 1.5;
  font-family: "Arial", sans-serif;
  text-align: center;
  color: #333333;

  Оформление
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  opacity: 1;

  Анимация
  transition: color 1s;

  Разное
  will-change: auto;
} */
